<nav>
  <ul>
    <li><a href="/index.html">Ana Sayfa</a></li>
    <li><a href="/sayfalar/aksiyon.html">Aksiyon</a></li>
    <li><a href="/sayfalar/komedi.html">Komedi</a></li>
    <li><a href="/sayfalar/dram.html">Dram</a></li>
    <li><a href="/sayfalar/korku.html">Korku</a></li>
    <li><a href="/sayfalar/bilimkurgu.html">Bilim Kurgu</a></li>
    <li><a href="/sayfalar/romantik.html">Romantik</a></li>
    <li><a href="/sayfalar/animasyon.html">Animasyon</a></li>
    <li><a href="/sayfalar/iletisim.html">İletişim</a></li>
    <li><a href="/sayfalar/formveri.html">Form Verileri</a></li>
    <li><a href="/sayfalar/oyun.html">Oyun</a></li>
  </ul>
</nav>
